<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.0" />

      <siteMap>
        <providers>
          <add name="SiteMap_1" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="/Week3/Web.sitemap" />
        </providers>
      </siteMap>

      <customErrors mode="Off" />
      
      <authentication mode="Forms">
      	<forms name="ass2" path="/" loginUrl="login.aspx" protection="All" timeout="10" />
     </authentication>
      
      <authorization> 
        <allow users="Administrators" /> 
      </authorization>
        <identity impersonate="false" />
   
  </system.web>

</configuration>