body {
}

.Grid {background-color: #fff; margin: 5px 0 10px 0; border: solid 1px #525252; border-collapse:collapse; font-family:Calibri; color: #474747;}
        .Grid td {
              padding: 2px;
              border: solid 1px #c1c1c1;
              width:250px;
        }
        .Grid th  {
              padding : 4px 2px;
              color: #fff;
              background: #363670 url(grid-header.png) repeat-x top;
              border-left: solid 1px #525252;
              font-size: 0.9em; }
        .Grid .alt {
              background: #fcfcfc url(grid-alt.png) repeat-x top; }
        .Grid .pgr {background: #363670 url(grid-pgr.png) repeat-x top; }
        .Grid .pgr table { margin: 3px 0; }
        .Grid .pgr td { border-width: 0; padding: 0 6px; border-left: solid 1px #666; font-weight: bold; color: #fff; line-height: 12px; }  
        .Grid .pgr a { color:#ccffff; text-decoration: none; }
        .Grid .pgr a:hover { color: #000; text-decoration: none; }

        .head {
            text-align:center;
            font-family:'Bauhaus 93';
            color:blue;
        }

        .header {
            position:relative; padding:15px; height:auto; width:1000px; background-color:#ffebcc;
        }

        .header2 {
            border-left: 6px solid #1a1aff; background-color:#cce0ff;
        }
        .tablev {
            position:relative;
            margin-top:5px;
            background-color:#ff9900;
            width:1050px;

        }

        .mss {
            position:relative;
            margin-top:10px;
            border-style:groove;
            border-color:#b3e0ff;
            height:150px;
            width:1030px;
        }

        .emailTable {
            margin-left:15px;
            margin-top:15px;
        }